DB_HOST=postgres
DB_PORT=5432
DB_NAME=pulse_db
DB_USER=pulse_user
DB_PASSWORD=change_me
SERVER_PORT=8080
FIREBASE_API_KEY=change_me
FIREBASE_CREDENTIALS_PATH=/app/firebase-credentials.json
FIREBASE_CREDENTIALS_FILE=./firebase-credentials.json
