spring:
  application:
    name: pulse-backend
  
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:pulse_db}
    username: ${DB_USER:pulse_user}
    password: ${DB_PASSWORD:pulse_password}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    com.pulse: DEBUG
    org.springframework.web: INFO
    org.hibernate: INFO

firebase:
  credentials:
    path: ${FIREBASE_CREDENTIALS_PATH:firebase-credentials.json}
  api:
    key: ${FIREBASE_API_KEY:AIzaSyBs3MCZUaiJ4sewBKLPdaZ-N2ArncmNj7Y}



